@import "~assets/styles/mixin.scss";

.navigation {
  @include width-height-full();
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  .options-wrap {
    @include width-height-full();
    .options-box {
      position: relative;
      @include width-height-full();
      @include flex(row, center, space-around);
      li {
        font-size: .3rem;
        color: rgba(51, 51, 51, 1);
      }
    }
    .select {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1rem;
      height: 0;
      border: .02rem solid rgba(61, 150, 245, 1);
    }
  }
  .setting-button-wrap {
    width: 1rem;
    height: 100%;
    border-left: 1px solid rgba(221, 221, 221, 1);
    @include flex(column, center, center);
    .setting-button {
      display: inline-block;
      width: 20px;
      height: 12px;
      background: url(~assets/images/icon-menu.png) no-repeat;
      background-size: 100%;
    }
  }
}
