<div class="setting">
  <div class="model-full">
    <div class="announcement-wrap">
      <div class="header">
        <span class="announcement-title">公告</span>
        <span class="announcement-close"></span>
      </div>
      <div class="announcement-content-wrap">
        <div class="announcement-content">公告内容，公告内容，公告内容，公告内容，公告内容，公告内容，hello world hello worldhello worldhello
          worldhello worldhello world.1234567890
        </div>
      </div>
    </div>
  </div>
  <div class="model-flex">
    <ul class="setting-options-wrap">
      <li class="options">
        <div class="setting-wrap">
          <span class="live-model-toggle-icon"></span>
          <p class="live-model-toggle-text">音频模式</p>
        </div>
      </li>
      <li class="options">
        <div class="announcement-wrap">
          <span class="announcement-icon"></span>
          <p class="announcement-text">公告</p>
        </div>
      </li>
    </ul>
  </div>
</div>