<div class="chat">
  <div class="chat-header">
    <span class="chat-title-icon"></span>
    <p class="chat-title">聊天记录</p>
  </div>
  <div id="chatMessageScrollWrap" class="chat-body">
    <ul id="chatMessageWrap" class="chat-message-wrap">
      <!--<li class="chat-content-wrap">-->
      <!--<p class="chat-name teacher">刘老师</p>-->
      <!--<div class="chat-message">-->
      <!--Hello，美女，我们约在周二Hello，美女，我们约在周二Hello，美女，我们约在周二-->
      <!--</div>-->
      <!--</li>-->
      <!--<li class="chat-content-wrap">-->
      <!--<p class="chat-name">张三</p>-->
      <!--<div class="chat-message">不见不散啊</div>-->
      <!--</li>-->
      <!--<li class="chat-content-wrap">-->
      <!--<p class="chat-name">王五</p>-->
      <!--<div class="chat-message">-->
      <!--lkfajsdlfjldsjfljdslkfjlksjdflkjsdalkfjkldsajfljdslkfjldjslfjklsdajfkljsdklfjkldsajflkjdlsakjflkjsdlkfjlskdjfjsldkajflkajsl-->
      <!--</div>-->
      <!--</li>-->
      <!--<li class="chat-content-wrap">-->
      <!--<p class="chat-name">小花啊</p>-->
      <!--<div class="chat-message">1111111111111111111111111111111111111111111111111111111111111111111111111111</div>-->
      <!--</li>-->
      <!--<li class="chat-content-wrap">-->
      <!--<p class="chat-name">你好啊</p>-->
      <!--<div class="chat-message">123</div>-->
      <!--</li>-->
    </ul>
  </div>
</div>