<div class="controls">
  <div class="controls-wrap">
    <div class="controls-left-wrap">
      <ul class="controls-left">
        <li>
          <span class="controls-switch" title="切换窗口"></span>
        </li>
        <li>
          <span class="controls-line" title="切换线路"></span>
        </li>
      </ul>
    </div>
    <div class="controls-reight-wrap">
      <ul class="controls-reight">
        <li>
          <div class="controls-online-wrap">
            <span class="controls-online-icon"></span>
            <span class="controls-online-number">0</span>
            <!--<span class="controls-online-unit">人</span>-->
          </div>
        </li>
        <li>
          <span class="controls-user"></span>
        </li>
        <li>
          <span class="controls-quit"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
