@import "assets/styles/mixin.scss";

.player {
  @include width-height-full();
  background-color: #333333;
  .live-player {
    @include width-height-full();
    .video-tip {
      @include width-height-full();
      color: #eeeeee;
      text-align: center;
      line-height: 1.96rem;
      display: inline-block;
    }
    video {
      @include width-height-full();
    }
  }
}
