@import "assets/styles/mixin.scss";

.player {
  @include width-height-full();
  background-color: #333333;
  #playbackPlayer {
    @include width-height-full();
    video {
      width: 100%;
      height: 100%;
    }
  }
}