@import "assets/styles/mixin.scss";

.player {
  @include width-height-full();
  #playbackPlayer {
    @include width-height-full();
    background-color: #000000;
    video{
      width: 100%;
      height: 100%;
    }
  }
}