<div class="controls">
  <div class="controls-wrap">
    <div class="controls-left-wrap">
      <ul class="controls-left">
        <li>
          <span class="controls-switch"></span>
        </li>
        <li>
          <span class="controls-line"></span>
        </li>
      </ul>
    </div>
    <div class="controls-reight-wrap">
      <ul class="controls-reight">
        <li>
          <div class="controls-online-wrap">
            <span class="controls-online-icon"></span>
            <span class="controls-online-number">3人</span>
          </div>
        </li>
        <li>
          <span class="controls-user">用户昵称</span>
        </li>
        <li>
          <span class="controls-quit"></span>
        </li>
      </ul>
    </div>
  </div>
</div>