<div class="question-answer">
  <div class="question-header">
    <div class="question-icon-wrap">
      <span class="question-icon"></span>
    </div>
    <p class="question-title">问答记录</p>
  </div>
  <div id="questionAnswerScrollWrap" class="question-body">
    <ul id="questionAnswerWrap" class="question-answer-ul">
      <!--<li class="question-answer-wrap">-->
      <!--<div class="question-wrap">-->
      <!--<p class="question-name">小小花：</p>-->
      <!--<p class="question-content">刚刚那个问题有点没看懂。</p>-->
      <!--</div>-->
      <!--<div class="anwser-wrap">-->
      <!--<span class="anwser-arrows"></span>-->
      <!--<div class="anwser-box">-->
      <!--<p class="anwser-name">刘老师:</p>-->
      <!--<p class="anwser-content">刚刚那个问题有点没看懂再讲一遍吗？</p>-->
      <!--</div>-->
      <!--</div>-->
      <!--</li>-->
      <!--<li class="question-answer-wrap">-->
      <!--<div class="question-wrap">-->
      <!--<p class="question-name">路人甲是个观众：</p>-->
      <!--<p class="question-content">刚刚那个问题有点没看懂，可以再讲一遍吗？</p>-->
      <!--</div>-->
      <!--<div class="anwser-wrap">-->
      <!--<span class="anwser-arrows"></span>-->
      <!--<div class="anwser-box">-->
      <!--<p class="anwser-name">刘老师:</p>-->
      <!--<p class="anwser-content">刚刚那个问题有点没</p>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="anwser-wrap">-->
      <!--<span class="anwser-arrows"></span>-->
      <!--<div class="anwser-box">-->
      <!--<p class="anwser-name">刘老师:</p>-->
      <!--<p class="anwser-content">刚刚那个问题有点没</p>-->
      <!--</div>-->
      <!--</div>-->
      <!--</li>-->
    </ul>
  </div>
</div>