<!-- 提示 -->
<div class="tipsw" id="{{id}}">
    <div class="tips">
        <p>{{msg}}</p>
        <button class="btn btn-info" onclick="{{fix}}">{{defineTip}}</button>
    </div>
    <div class="tipsbg"></div>
</div>