<div class="chat">
  <div class="chat-message" id="chatMessageScrollWrap">
    <ul class="chat-message-box" id="chatMessageWrap">
      <!--<li class="chat-message-wrap">-->
      <!--<span class="chat-message-name">小花啊：</span>-->
      <!--<span class="chat-message-time">14:37:20</span>-->
      <!--<p class="chat-message-content">刚刚那个问题有点没看懂，可以再讲一遍吗？</p>-->
      <!--</li>-->
      <!--<li class="chat-message-wrap">-->
      <!--<span class="chat-message-name">hello world：</span>-->
      <!--<span class="chat-message-time">298:37:20</span>-->
      <!--<p class="chat-message-content">刚刚那个问题有点没看懂，刚刚那个问题有点没看懂，刚刚那个问题有点没看懂，刚刚那个问题有点没看懂，刚刚那个问题有点没看懂。1234567890</p>-->
      <!--</li>-->
      <!--<li class="chat-message-wrap">-->
      <!--<span class="chat-message-name">hello world 12345678901234567890：</span>-->
      <!--<span class="chat-message-time">14:37:20</span>-->
      <!--<p class="chat-message-content">content my message this is worldcontent my message this is worldcontent my-->
      <!--message this is world</p>-->
      <!--</li>-->
    </ul>
  </div>
</div>