@import "~assets/styles/mixin.scss";

.question-answer {
  @include width-height-full();
  .question-answer-list-wrap {
    @include layout(0, 0, .8rem, 0);
    overflow-y: auto;
    .question-answer-list {
      @include width-height-full();
      box-sizing: border-box;
      padding: 0 .4rem;
      .question {
        box-sizing: border-box;
        padding: .2rem 0rem;
        .question-wrap {
          .question-name {
            font-size: .24rem;
            color: #3d96f5;
            @include ellipsis();
            display: inline-block;
            max-width: 2rem;
          }
          .question-time {
            font-size: .24rem;
            color: #b5b7be;
            float: right;
            @include ellipsis();
            max-width: 2rem;
            display: inline-block;
          }
          .question-content {
            font-size: .26rem;
            color: #3d96f5;
            padding: .2rem 0;
            box-sizing: border-box;
            border-bottom: 1px solid #eee;
            line-height: .36rem;
            width: 100%;
            @include word-break();
          }
          .answer-list {
            padding-left: .2rem;
            box-sizing: border-box;
            .answer {
              padding: .2rem 0 .2rem .4rem;
              box-sizing: border-box;
              border-bottom: 1px solid #eeeeee;
              .answer-wrap {
                .answer-name {
                  color: #12ad1a;
                  font-size: .24rem;
                  @include ellipsis();
                  max-width: 2rem;
                  display: inline-block;
                }
                .answer-name:after {
                  content: '';
                  position: absolute;
                  background: url(~assets/images/icon08.png) no-repeat;
                  display: inline-block;
                  width: .32rem;
                  height: .24rem;
                  background-size: 100%;
                  left: .5rem;
                }
                .answer-time {
                  color: #b5b7be;
                  font-size: .24rem;
                  float: right;
                  @include ellipsis();
                  max-width: 2rem;
                  display: inline-block;
                }
                .answer-content {
                  margin-top: .2rem;
                  font-size: .26rem;
                  line-height: .36rem;
                  @include word-break();
                }
              }
            }
          }
        }
      }
    }
  }
  .send-question-wrap {
    @include layout(unset, 0, 0, 0);
    height: .8rem;
    box-shadow: 0px -3px 10px 0px rgba(181, 183, 190, 0.2), inset 0px 1px 0px 0px #e8e9eb;
    @include flex(row, center, space-around);
    padding: .15rem;
    box-sizing: border-box;
    .send-question-only-self-wrap {
      .send-question-only-self {
        display: inline-block;
        width: .46rem;
        height: .42rem;
        background: url(~assets/images/icon-ask.png) no-repeat;
        background-size: 100%;
      }
      .active {
        background: url(~assets/images/icon-ask-active.png) no-repeat;
        background-size: 100%;
      }
    }
    .send-question-input-wrap {
      height: .56rem;
      width: 5rem;
      margin: 0 .05rem;
      line-height: .56rem;
      box-sizing: border-box;
      .send-question-input {
        outline: none;
        border: none;
        color: #1e1f21;
        font-size: .24rem;
      }
      border-bottom: 1px solid #e8e8e8;
    }
    .send-question-input-button-wrap {
      .send-question-input-button {
        width: 1rem;
        height: .6rem;
        text-align: center;
        color: #38404b;
        background: #f9f9f9;
        border: 1px solid #dddddd;
        border-radius: 2px;
      }
    }
  }
}