<div class="controls">
  <div class="swiper-container-controls">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="control-wrap">
          <div class="left">
            <div class="online">
              <span class="online-icon"></span>
              <span class="online-number">0</span>
            </div>
          </div>
          <div class="right">
            <div class="barrage">
              弹幕
            </div>
            <div class="line">
              线路1
            </div>
            <div class="switch" id="controls-switch">
              切换
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="advertisement-wrap">
          <span class="advertisement-icon"></span>
          <div class="advertisement-content">
            <a href="//www.baidu.com" target="_blank">hello wolrd</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="advertisement-wrap">
          <div class="advertisement-content">
            <img src="//material.csslcloud.net/image/a/B27039502337407C/155773158646525.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- 导航按钮 -->
    <!--<div class="swiper-button-prev swiper-button-white"></div>-->
    <!--<div class="swiper-button-next swiper-button-white"></div>-->
  </div>
</div>