<div class="private-message" id="private_msg">
  <div class="private-message-header">
    <span class="private-message-return" id="private-message-return"></span>
    <div class="private-message-title">私聊列表</div>
    <span class="private-message-close" id="private-close-btn"></span>
  </div>
  <div class="private-message-body">
    <div class="private-message-list-wrap" id="private-message-list-wrap">
      <ul class="private-message-list" id="private-message-list">
        <!--<li class="message">-->
        <!--<span class="message-name">美国队长：</span>-->
        <!--<span class="message-time">15:22:31</span>-->
        <!--<p class="message-content">妇联必胜！妇联必胜！妇联必胜！妇联必胜！</p>-->
        <!--</li>-->
        <!--<li class="message">-->
        <!--<span class="message-name">hello wolrd hello wolrd hello wolrd hello wolrd hello wolrd hello wolrd：</span>-->
        <!--<span class="message-time">15734950382:22:31</span>-->
        <!--<p class="message-content">妇联必胜！妇联必胜！妇联必胜！妇联必胜！妇联必胜！妇联必胜！妇联必胜！妇联必胜！妇联必胜！妇联必胜！妇联必胜！妇联必胜！</p>-->
        <!--</li>-->
        <!--<li class="message">-->
        <!--<span class="message-name">123456789123456789123456789123456789123456789123456789123456789：</span>-->
        <!--<span class="message-time">15:22:31</span>-->
        <!--<p class="message-content">-->
        <!--abcdefjabcdefjabcdefjabcdefjabcdefjabcdefjabcdefjabcdefjabcdefjabcdefjabcdefj</p>-->
        <!--</li>-->
        <!--<li class="message">-->
        <!--<span class="message-name">美国队长：</span>-->
        <!--<span class="message-time">15:22:31</span>-->
        <!--<p class="message-content">妇联必胜！妇联必胜！妇联必胜！妇联必胜！</p>-->
        <!--</li>-->
        <!--<li class="message">-->
        <!--<span class="message-name">美国队长：</span>-->
        <!--<span class="message-time">15:22:31</span>-->
        <!--<p class="message-content">妇联必胜！妇联必胜！妇联必胜！妇联必胜！</p>-->
        <!--</li>-->
        <!--<li class="message">-->
        <!--<span class="message-name">美国队长：</span>-->
        <!--<span class="message-time">15:22:31</span>-->
        <!--<p class="message-content">妇联必胜！妇联必胜！妇联必胜！妇联必胜！</p>-->
        <!--</li>-->
        <!--<li class="message">-->
        <!--<span class="message-name">美国队长：</span>-->
        <!--<span class="message-time">15:22:31</span>-->
        <!--<p class="message-content">妇联必胜！妇联必胜！妇联必胜！妇联必胜！</p>-->
        <!--</li>-->
      </ul>
    </div>
    <div class="private-message-content-wrap" id="private-message-content-wrap">
      <ul class="private-message-content" id="private-message-content">
        <!--<li class="message">你好啊</li>-->
        <!--<li class="message self">hello world</li>-->
        <!--<li class="message">hello world hello world hello world hello world hello world hello world hello world-->
        <!--hello-->
        <!--world hello world hello world-->
        <!--</li>-->
        <!--<li class="message self">-->
        <!--123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890-->
        <!--</li>-->
        <!--<li class="message self">漫威宇宙&DC宇宙</li>-->
        <!--<li class="message">私聊回复私聊回复私聊回复私聊回复私聊回复私聊回复私聊回复私聊回复私聊回复私聊回复私聊回复私聊回复私聊回复私聊回复私聊回复</li>-->
        <!--<li class="message">测试私聊1</li>-->
        <!--<li class="message">测试私聊2</li>-->
        <!--<li class="message">测试私聊3</li>-->
        <!--<li class="message">测试私聊4</li>-->
      </ul>
    </div>
    <div class="send-private-message" id="send-private-message">
      <div class="private-message-button-wrap">
        <span class="private-message-button active"></span>
      </div>
      <div class="send-private-message-input-wrap">
        <input class="send-private-message-input" type="text" id="private_input" placeholder="我要发言...">
        <span class="send-private-message-input-border"></span>
      </div>
      <div class="send-private-emoji-button-wrap">
        <span class="send-private-emoji-button"></span>
        <table class="emoji-table" border="0" cellspacing="0" cellpadding="0">
          <tbody>
          <tr>
            <td>
              <img src="~assets/images/emoji/01.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/02.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/03.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/04.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/05.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/06.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/07.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/08.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/09.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/10.png" alt="">
            </td>
          </tr>
          <tr>
            <td>
              <img src="~assets/images/emoji/11.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/12.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/13.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/14.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/15.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/16.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/17.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/18.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/19.png" alt="">
            </td>
            <td>
              <img src="~assets/images/emoji/20.png" alt="">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="send-private-message-button-wrap">
        <div class="send-private-message-button" id="private_send">发送</div>
      </div>
    </div>
  </div>
</div>