@import '~reset-css';
@import '~bootstrap/dist/css/bootstrap.css';
@import "~assets/styles/mixin.scss";
@import '~assets/styles/ui.scss';

html {
  font-size: 100px;
}

body {
  font-size: .14em;
}

body, html {
  position: relative;
  @include width-height-full();
}