ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
width-height-full()
  height 100%
  width 100%
width-height-same($value)
  width $value
  height $value
wrapper()
  background-color #ffffff
  height 100%
  width 100%
layout-full($top, $left, $right, $bottom)
  position absolute
  top $top
  left $left
  right $right
  bottom $bottom
