<div class="chat">
  <div class="chat-message">
    <ul class="chat-message-box" id="chat-container">
      <!--<li class="chat-message-wrap">-->
      <!--<span class="chat-message-name">小花啊：</span>-->
      <!--<span class="chat-message-time">14:37:20</span>-->
      <!--<p class="chat-message-content self">刚刚那个问题有点没看懂，可以再讲一遍吗？</p>-->
      <!--</li>-->
      <!--<li class="chat-message-wrap">-->
      <!--<span class="chat-message-name teacher">hello world：</span>-->
      <!--<span class="chat-message-time">298:37:20</span>-->
      <!--<p class="chat-message-content">-->
      <!--刚刚那个问题有点没看懂，刚刚那个问题有点没看懂，刚刚那个问题有点没看懂，刚刚那个问题有点没看懂，刚刚那个问题有点没看懂。1234567890</p>-->
      <!--</li>-->
      <!--<li class="chat-message-wrap">-->
      <!--<span class="chat-message-name">hello world 12345678901234567890：</span>-->
      <!--<span class="chat-message-time">14:37:20</span>-->
      <!--<p class="chat-message-content">content my message this is worldcontent my message this is worldcontent-->
      <!--my-->
      <!--message this is world</p>-->
      <!--</li>-->
    </ul>
  </div>
  <div class="send-message">
    <div class="private-message-button-wrap">
      <span class="private-message-button" id="private_chat"></span>
    </div>
    <div class="send-message-input-wrap" id="sendMessageInputWrap">
      <input class="send-message-input" type="text" id="send-chat-content" placeholder="我要发言...">
      <span class="send-message-input-border"></span>
    </div>
    <div class="send-emoji-button-wrap">
      <span class="send-emoji-button" id="chat-smile"></span>
      <table class="emoji-table" id="chat-smile-list" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td index="01">
            <img src="~assets/images/emoji/01.png" alt="">
          </td>
          <td index="02">
            <img src="~assets/images/emoji/02.png" alt="">
          </td>
          <td index="03">
            <img src="~assets/images/emoji/03.png" alt="">
          </td>
          <td index="04">
            <img src="~assets/images/emoji/04.png" alt="">
          </td>
          <td index="05">
            <img src="~assets/images/emoji/05.png" alt="">
          </td>
          <td index="06">
            <img src="~assets/images/emoji/06.png" alt="">
          </td>
          <td index="07">
            <img src="~assets/images/emoji/07.png" alt="">
          </td>
          <td index="08">
            <img src="~assets/images/emoji/08.png" alt="">
          </td>
          <td index="09">
            <img src="~assets/images/emoji/09.png" alt="">
          </td>
          <td index="10">
            <img src="~assets/images/emoji/10.png" alt="">
          </td>
        </tr>
        <tr>
          <td index="11">
            <img src="~assets/images/emoji/11.png" alt="">
          </td>
          <td index="12">
            <img src="~assets/images/emoji/12.png" alt="">
          </td>
          <td index="13">
            <img src="~assets/images/emoji/13.png" alt="">
          </td>
          <td index="14">
            <img src="~assets/images/emoji/14.png" alt="">
          </td>
          <td index="15">
            <img src="~assets/images/emoji/15.png" alt="">
          </td>
          <td index="16">
            <img src="~assets/images/emoji/16.png" alt="">
          </td>
          <td index="17">
            <img src="~assets/images/emoji/17.png" alt="">
          </td>
          <td index="18">
            <img src="~assets/images/emoji/18.png" alt="">
          </td>
          <td index="19">
            <img src="~assets/images/emoji/19.png" alt="">
          </td>
          <td index="20">
            <img src="~assets/images/emoji/20.png" alt="">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="send-message-button-wrap">
      <div class="send-message-button" id="send-chat">发送</div>
    </div>
  </div>
</div>